@media (min-width : 1600px){ 
    button{
        height: 100px;
        width: 100px;
    }   
}
@media(max-width : 1000px) and (min-width : 800px){
    .row{
        width: 80%;
    }
    .inp{
        width:75% ;
    }
    .container{
        width: 80%;
     }
}
@media(max-width : 800px) and (min-width : 600px){
     .container{
        width: 90%;
     }
     .row{
        width: 80%;
     }
     .inp{
        width:76% ;
    }
    .funct{
        top:-31% 
    }
}
@media(max-width : 600px) and (min-width: 400px) {
    button{ 
        margin: 0 4% 4% 4%; 
        width: 50px;
        height: 50px;
    } 
    .container{
        width: 100%; 
     }
    .row{
        width: 90%;
    }
    .inp{
        width:82% ;
    }
    .funct{
        top:-38% 
    } 
}
@media(max-width : 400px) and (min-width: 300px) {
    button{ 
        margin: 0 2% 2% 2%; 
        width: 50px;
        height: 50px;
    } 
    .container{
       width: 100%; 
    }
    .row{
        width: 100%;
    }
    .inp{
        width: 82%;
        z-index: 2;
      }
      .funct{
        top:-63% 
    }
}
@media(max-width : 300px) and (min-width: 200px) {
    button{ 
        margin: 0 1% 1% 1%; 
        width: 50px;
        height: 50px;
    } 
    .container{
       width: 100%; 
    }
    .row{
        width: 90%;
    }
    .header{
        font-size: 0.7rem;
        height: 3rem;
    }
    .inp{
        width: 85%;
        z-index: 2;
    }
    .funct{
        top:-55% ;
        overflow: scroll;
        height: 90px;
        padding-top: 2%;

    }
}
@media(max-width : 200px){
    button{ 
        margin: 0 1% 1% 1%; 
        height: 30px; 
        width: 30px;
     
    } 
    .container{
        width: 100%; 
    }
    .row{
        width: 100%;
    }
    .header{
        font-size: 0.4rem;
        height: 3rem;
    }
    .inp{
        width: 90%;
        z-index: 2;
    }
    .funct{  
        top:-90% ;
        height: 70px;
        border-radius: 2px;
        overflow: scroll;
        width: 90%;  
    }
}     
